<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ALMServer" value="http://alm.perfectomobilelab.net:8080/qcbin" />
    <add key="InvalidHost" value="http://alm.permobile.net:8080/qcbin"/>
    <add key="InvalidPath" value="http://alm.perfectomobilelab.net:8080/qcbi"/>
    <add key="AdminUser" value="patrickm" />
    <add key="AdminPassword" value="xxxx"/>
    <add key="ALMDomain" value="ALMREPORTINGBRIDGE"/>
    <add key="ConnectionTestProject" value="ConnectionTests"/>
    <add key="ViewOnlyUser" value="alm_rb_vo"/>
    <add key="ViewOnlyPassword" value="reporting"/>
    <add key="StandardProject" value="NoRequiredFields"/>
    <add key="TransitionUser" value="alm_rb_transition"/>
    <add key="TransitionUserPass" value="reporting"/>
    <add key="NoAccessUser" value="alm_rb_noproject"/>
    <add key="NoAccessPassword" value="xxxx"/>
    <add key="AttachmentPath" value="C:\Users\pmccartney\documents\visual studio 2015\Projects\ALMReportingBridge\ALM Reporting Bridge Tests\assets\file.txt"/>
    <add key="RequiredFieldsProject" value="RequiredFields"/>

  </appSettings>
</configuration>