<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
	<test name="Test iPhone6">
		<parameter name="platformName" value="iOS" />
		<parameter name="deviceId" value="076164908B998B9944CE5E3A50E1028D5708AAEF" />
		<parameter name="androidAppPackage" value="" />
		<parameter name="iOSBundleID" value="com.kayak.travel" />
		<parameter name="networkProfile" value="2g_edge_average" />
		<classes>
			<class name="com.networkPreference.tests.NetworkPreferencesTest" />
		</classes>
	</test>
		<test name="Test iPhone6-Plus">
		<parameter name="platformName" value="iOS" />
		<parameter name="deviceId" value="178D3A398F2C6D562597E56DFC146851143B380A" />
		<parameter name="androidAppPackage" value="" />
		<parameter name="iOSBundleID" value="com.kayak.travel" />
		<parameter name="networkProfile" value="3g_umts_average" />
		<classes>
			<class name="com.networkPreference.tests.NetworkPreferencesTest" />
		</classes>
	</test>
		<test name="Test iPhone6S">
		<parameter name="platformName" value="iOS" />
		<parameter name="deviceId" value="22DA473129BBF7735D0CB04F8E39C901F852FF77" />
		<parameter name="androidAppPackage" value="" />
		<parameter name="iOSBundleID" value="com.kayak.travel" />
		<parameter name="networkProfile" value="4g_lte_advanced_good" />
		<classes>
			<class name="com.networkPreference.tests.NetworkPreferencesTest" />
		</classes>
	</test>
</suite> <!-- Suite -->

