<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="Test iPhone6">
		<parameter name="deviceID" value="4E529680175ABE8E1A6EBA73651E3D08998533CA" />
		<classes>
			<class name="com.perfecto.demo.tests.eBay.LoginToeBayTest" />
		</classes>
	</test>
</suite>
