<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PerfectoUsername" value="user@email.com" />
    <add key="PerfectoPassword" value="mypassword" />
    <add key="PerfectoCloud" value="mycloud.perfectomobile.com"/>
    <add key="ScriptPath" value="PRIVATE:JetBlue\\Performance Demo.xml"/>
    <add key="DUT1" value="05157DF532C1D40F"/>
    <add key="DUT1_DeviceName" value="Galaxy S6"/>
    <add key="DUT2" value="030FB4BA028AFB24D4800B3715516A680E022C5D"/>
    <add key="DUT2_DeviceName" value="iPhone 6"/>
  </appSettings>
</configuration>